<div class="container">
    <div class="title">
        <span>Data scientist</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>El Horri Adam</span><br>
        <span>Bachelor degree student in computer science</span><br><br>
        <span>Currently looking for an apprenticeship as a Data Scientist</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="assets\final me.png" alt="">
    </div>
</div>