<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:adamelhorri2@gmail.com" target="_blank"><i class='bx bxl-gmail' style="color: #f11313;"></i></a></li>
        <li><a href="https://www.linkedin.com/in/el-horri-adam/" target="_blank"><i class='bx bxl-linkedin-square' style="color: #6b93e4;"></i></a></li>
        <li><a href="https://www.facebook.com/adam.uchi.1" target="_blank"><i class='bx bxl-facebook-circle' style="color: #3073f8;"></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: +33 7 67 51 62 46</li>
        <li>Adamelhorri2@gmail.com</li>
    </ul>
</div>